body{
    background-color:black ;
}

.title h1, .section-paragraph p, .keywords ,h2, p, .work , h2 p, .section5 p{
    color: white;
    font-family: "stolzl";
}

.contact h2, .keywords h2, .work h2 {
    font-size: 11px;
    font-family: "stolzl";
}
.contact p , a{
    color: white;
    font-size: 18px;
    font-family: "stolzl";
}
 
.container-fluid{
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15%;
}

.row{
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.title{
    margin-top: 75px;
    font-weight: 100;
}

.title h1,.keywords h2,.work h2,.contact h2{ 
    font-weight: 100;
    letter-spacing: 10px;
    font-family: "stolzl";
}

.section-paragraph p{
    font-size: 26px;
    font-weight: 200;
    line-height: 37px;
    /* width: 17%; */
    font-family: "stolzl";
}
.section-paragraph, .contact, .keywords , .work, .section-paragraph{
margin-bottom: 100px;
}
a{
    color: white;
    transition: .2s;
    text-decoration: none;
}


.contact p{
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "stolzl";
}

.work p, .keywords p{
    margin:5px;
    font-family: "stolzl";
}

.section5 p{
    font-size: 14px;
    line-height: 24px;
    font-family: "stolzl";
}

a:hover {
    color:red;
 }

 @media (max-width: 600px){
    .section-paragraph p {
        width: 200px;    
        font-family: "stolzl";
    }
 }

 @media (min-width: 600px){
    .section-paragraph p{
        width: 300px;
        font-family: "stolzl";
    }
 }


 @media (max-width: 600px){
    .section5 p {
        width: 200px;
        font-family: "stolzl";
    }
 }

 @media (min-width: 600px){
    .section5 p{
        width: 360px;
        font-family: "stolzl";
    }
 }




 @media (max-width: 600px){
    .title h1 {
        font-size: 15px;
        font-family: "stolzl";
    }
 }

 @media (min-width: 600px){
    .title h1{
        font-size: 18px;
        font-family: "stolzl";
    }
 }
